$primaryfont: 'Times New Roman', Times, serif;

.cartContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: $primaryfont;
    z-index: +10;

    .productCardsBox {
        display: flex;
        flex-direction: column;
        height: 345px;
        overflow-y: scroll;
        scroll-behavior: smooth;
        gap: 10px;

        .productCard {
            background-color: black;
            height: fit-content;
            display: flex;
            gap: 15px;
            border-radius: 10px;
            padding: 10px;

            .cartLeft {
                display: flex;

                img {
                    width: 85px;
                    height: 85px;
                    object-fit: cover;
                    border-radius: 4px;
                }
            }

            .cartRight {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 14px;

                .removeButton{
                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 5px;
                        color: red;
                        background: rgb(20, 20, 20);
                        border-radius: 4px;
                        border: none;
                        font-family: 'OCR A';
                        font-size: 10px;
                    }
        
                    button:hover {
                        background-color: rgb(255, 200, 200);
                    }
                }
            }
        }
    }

    .productCardsBox::-webkit-scrollbar {
        width: 0;
    }

    .noProducts{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        height: 345px;
        border-radius: 10px;

        img{
            width: 30px;
            height: 30px;
        }
    }

    .checkoutBox {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: black;
        padding: 10px 10px;
        border-radius: 6px;
        font-size: 14px;

        .totalPriceCount {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .checkoutButton {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 6px 10px;
                min-width: 40px;
                color: white;
                background: rgb(20, 20, 20);
                border-radius: 6px;
                border: none;
                font-family: 'OCR A';
                font-size: 12px;
            }

            button:hover {
                background-color: rgb(30, 30, 30);
            }
        }
    }
}