.homeContainer{
    width: auto;

    main{
        padding: 20px;

        .featuredProducts{
            margin-top: 100px;
            .middleHead{
                text-align: center;
                padding: 4px;
                font-size: 40px;
                font-weight: bold;
                font-family: 'OCR A';
            }
        }

        .quote1{
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            font-family: 'OCR A';
        }

        .checkThisOut{
            height: 420px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}